* {
  box-sizing: border-box;
  margin: 0 auto;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
}
.card {
  width: 500px;
  height: 700px;
  background-color: rgba(244, 192, 254, 1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  position: absolute;
  left: 10px;
  top: 5px;
  text-decoration: none;
  color: black;
  background: rgba(255, 255, 255, 1);
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
}
img {
  width: 400px;
  height: 400px;
}
p {
  font-size: 20px;
  font-weight: bold;
}
