html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  background: #f3e8f3;
}

.container {
  width: 100vw;
  height: 100dvh; /* FIX VIỀN TRẮNG */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 90%;
  max-width: 380px;
  padding: 24px 16px;
  background: #f6c1ff;
  border-radius: 18px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;

  position: relative;
}

.card a {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #fff;
  border: 1px solid #000;
  padding: 6px 10px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
}

img {
  width: 220px;
  max-width: 100%;
  height: auto;
}

p {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
