* {
  box-sizing: border-box;
  margin: 0 auto;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(244, 42, 160, 1);
}
.hero_section {
  width: 500px;
  height: 700px;
  background-color: rgba(244, 192, 254, 1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  font-size: 50px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
}
p {
  font-size: 20px;
}
.btn_select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
a {
  text-decoration: none;
  color: black;
}
.true {
  background-color: rgba(47, 255, 0, 1);
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-align: center;
  width: 100px;
  margin-top: 5px;
  cursor: pointer;
}
.false {
  background-color: rgba(255, 0, 0, 1);
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-align: center;
  width: 100px;
  margin-top: 5px;
  cursor: pointer;
}
